*{
box-sizing: border-box;
}

body{
margin:0;
padding: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height:1.5;
overflow-x:hidden;

}
@media(min-width:720px){
  .grid{
    display: grid;
    grid-template-columns: repeat(2,1fr)
    
  }

}
input[type=text]{
font-size: 1.5rem;
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

.v-header{
display:flex;
align-items:center;
color:#fff;
}

.container{
max-width:960px;
padding-left:1rem;
padding-right:1rem;
margin:auto;
text-align:center;
}

.fullscreen-video-wrap{
position:absolute;
top:0;
left:0;
width:100%;
height:100vh;
overflow:hidden;
}

.fullscreen-video-wrap video{
min-height: 100vh;
min-width: 100vh;
}

.header-overlay{
height:100vh;
position: absolute;
top:0;
left:0;
width:100vw;
z-index:1;
background:#333;
opacity:0.65;
}

.header-content{
z-index:2;
margin: auto;
}

.header-content h1{
font-size:50px;
margin-bottom:0;
}

.header-content p{
font-size:1.5rem;
display:block;
padding-bottom:2rem;
}
button{
  cursor: pointer;
}
.btn{

border: 3px solid steelblue;
font-size:1rem;
padding: .5rem;
border-radius: 10pc;
}

li{
list-style-type: none;
margin: 1em;
}
a:link{
  text-decoration: none;
  font-weight: 700;
  color: #fff;

}
a:visited{
  color: #F4B400;
}
a:hover{
  color: #4885ed;
  transition: .5s;
}
@media(max-width:720px){

.container{
padding-right:3rem;
padding-left:3rem;
}

.header-content h1{
  font-size:24px;
  margin-bottom:0;
  }
.fullscreen-video-wrap video {
position: relative;
left: -300px;
height: 100vh;
width: unset;
}
}
